.container{
    width: 1280px;
    margin: auto;
    padding: 109px 0;
  }
  .card{
    width: 1032px;
    min-height: 450px;
    position: relative;
    margin: 0 auto;
    gap: 13px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #DAD8D8;
    background-color: #fff;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
  }
  .card__end{
    width: 1280px;
    position: relative;
    margin: 0 auto;
    gap: 13px;
    padding: 16px 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #DAD8D8;
    background-color: #fff;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
  }
  .content__buttonSelectEnd{
    display: flex;
    gap: 4px;
  }
  .button{
    border-radius: 100px;
    background-color: #ED1B24;
    color: #fff;
    display: flex;
    width: 146px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ED1B24;
  }
  .button:hover{
    background: #FFF;
    color: #ED1B24;
  }
  .button:disabled{
    color: #3D3C3C;
    background-color: #DAD8D8;
    border: 1px solid #DAD8D8;
    cursor: initial;
  }
  .button__back{
    display: flex;
    color: #ED1B24;
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: absolute;
    border: none;
    cursor: pointer;
    top: 26px;
    left: 26px;
  }
  .button__secondary{
    color: #3D3C3C;
    background-color: #fff;
  }
  .button__secondary:hover{
    background: #ED1B24;
      color: #FFF;
  }
  .content__text{
    padding: 10px;
    width: 100%;
  }
  .text__p{
    color: #828181;
    text-align: center;
    font-family: "NeutraText TF";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .text__p2{
    color: #828181;
    text-align: center;
    font-family: "NeutraText";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .text__p3{
    margin: 0;
    color: #828181;
    text-align: center;
    font-family: "NeutraText";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .text__p4{
    margin: 0;
    color: #828181;
    text-align: center;
    font-family: "NeutraText";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .text__p5{
    margin: 0;
    color: #828181;
    text-align: center;
    font-family: "NeutraText";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .text__p6{
    margin: 0;
    color: #828181;
    text-align: center;
    font-family: "NeutraText";
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .text__p7{
    margin: 0;
    color: #828181;
    font-family: "NeutraText";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .text__h3{
    margin: 0;
    padding: 10px;
    color: #828181;
    text-align: center;
    font-family: "NeutraText";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .content__button{
    display: flex;
    gap: 38px;
    margin-top: auto;
  }
  .content__button__init{
    display: flex;
    gap: 38px;
    margin-top: auto;
  }
  .input{
    height: 48px;
    width: 100%;
    padding: 10px 16px;
    border-radius: 8px;
    background-color: #FFF;
    border: 0.8px solid #686868;
    font-family: "NeutraText";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #686868;
  }
  .input:focus{
    outline: none;
  }
  .text__h4{
    margin: 0;
    padding: 10px;
    color: #828181;
    text-align: center;
    font-family: "NeutraText";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .text__h4s{
    font-style: italic;
    font-weight: 700;
  }
  .content__buttonWithImg{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    padding-top: 40px;
  }
  .button__withImg{
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 138px;
    border-radius: 8px;
    background: #FFF;
    border: 1px solid #E0E0E0;
    color: #828181;
    font-family: "NeutraText";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
  }
  .button__withImg--active{
    background-color: #DAD8D8;
  }
  .button__withImg:hover{
    background-color: #DAD8D8;
  }
  .button__withImgImg{
    width: 100%;
    height: auto;
    max-width: 100px;
    aspect-ratio: 1/1;
  }
  .content__buttonWithImgTwo{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill,minmax(295px,1fr));
    width: 100%;
  }
  .button__withImgTwo{
    border-radius: 16px;
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 295px;
    border-radius: 8px;
    background: #FFF;
    border: 1px solid #E0E0E0;
    color: #828181;
    font-family: "NeutraText";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
  }
  .button__withImgTwo--active{
    background-color: #DAD8D8;
  }
  .button__withImgTwo:hover{
    background-color: #DAD8D8;
  }
  .button__withImgImgTwo{
    width: 100%;
    height: auto;
    max-width: 279px;
    object-fit: cover;
    border-radius: 8px;
    aspect-ratio: 199/85;
  }
  .content__buttonSelect{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .content__button__selectData{
    width: 344px;
    border-radius: 8px;
    height: 48px;
    background-color: #BFBFBF;
    border: 1px solid #686868;
    display: flex;
  }
  .content__button__selectDataEnd{
    width: 281px;
    border-radius: 8px;
    height: 48px;
    background-color: #BFBFBF;
    border: 1px solid #686868;
    display: flex;
  }
  .content__text__selectData{
    width: 100%;
    margin: auto;
    text-align: center;
    color: #828181;
    font-family: "NeutraText";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .button__selectData{
    padding: 10;
    margin: 0;
    height: 100%;
    max-width: 100px;
    width: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-left: 1px solid #686868;
  }
  .selectContent{
    margin: auto 0;
    width: 100%;
    position: relative;
  }
  .selectBtn{
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    -webkit-user-select: none;
    border: 0.8px solid #686868;
    padding: 10px 16px;
    background-color: #fff;
    justify-content: space-between;
    height: 48px;
    border-radius: 8px;
    font-family: "NeutraText";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #686868;
  }
  .selectBtn:disabled{
      fill: #686868;
  }
  .selectContentList{
      background-color: #fff;
      position: absolute;
      display: block;
      width: 100%;
      inset: 0 auto auto 0;
      transform: translateY(48px);
      max-height: 0px;
      overflow-y: auto;
  }
  .selectListUl{
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-family: "NeutraText";
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }
  .selectListLi{
      border: 1px solid #58585880;
      text-decoration: none;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 10px 5px;
      cursor: pointer;
      border-radius: 8px;
      margin: 2px 0;
      height: 48px;
      background-color: #fff;
  }
  .selectContentList--show{
    max-height: 415px;
    z-index: 1;
  }
  .selectContentList::-webkit-scrollbar {
      -webkit-appearance: none;
  }
  
  .selectContentList::-webkit-scrollbar-button {
      display: none;
  }
  
  .selectContentList::-webkit-scrollbar {
      height: 4px;
      width: 6px;
  }
  
  .selectContentList::-webkit-scrollbar-thumb {
      background-color: rgba(83, 82, 82, 0.44);
      border-radius: 20px;
      border: 1px solid rgba(68, 69, 71, 0.34);
  }
  
  .selectContentList::-webkit-scrollbar-track {
      border-radius: 10px;
  }
  .content__flagEnd{
    color: #fff;
    text-align: center;
    font-family: "NeutraText";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 0px 0px 12px 12px;
    background-color: #ED1B24;
    height: 53px;
    display: flex;
    max-width: 1136px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .content__Result{
    width: 1280px;
    margin: 39px auto;
    display: flex;
    gap: 16px;
  }
  .content__Filters{
    width: 30%;
    max-width: 308px;
  }
  .content__Items{
    width: 80%;
    max-width: 956px;
  }
  .grid__Items{
    width: 100%;
    display: grid;
    gap: 16px;
    padding: 20px 0;
    grid-template-columns: repeat(auto-fill,minmax(308px,1fr));
  }
  .container__summary{
    max-width: 308px;
    width: 100%;
    padding: 16px;
    border-radius: 25px;
    background-color: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .container__summary :global(.vtex-store-components-3-x-container){
    width: initial;
    padding: 0;
  }
  :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-store-components-3-x-container){
    width: 100%;
  }
  .summary__content__img{
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }
  .summary__content__img:hover .summary__img{
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
  .summary__content__img:hover .summary__imgTwo{
    opacity: 1;
    transition: opacity 200ms ease-in-out;
  }
  .summary__img{
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    top: 0;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
  }
  .summary__imgTwo{
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    top: 0;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
  .summary__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    height: 100%;
    width: 100%;
    text-decoration: none;
  }
  .summary__condShelf{
    margin-top: auto;
    width: 100%;
  }
  .summary__condShelf :global(.vtex-button){
    background: #FFF;
    color: #ED1B24;
    border: 1px solid #ED1B24;
    width: 100%;
  }
  .summary__condShelf :global(.vtex-button):hover{
    background: #ED1B24;
    color: #FFF;
  }
  .summary__condShelf :global(.vtex-add-to-cart-button-0-x-buttonText){
    font-family: 'NeutraTextAltBold';
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
  }
  .summary__quantity{
    width: 100%;
  }
  .summary__quantity :global(.vtex-product-quantity-1-x-quantitySelectorContainer--cantidad-general){
    margin: 0;
  }
  .summary__quantity :global(.vtex-numeric-stepper__plus-button){
    background: none;
    border: none;
    background-image: url(https://ceramicaitalia.vtexassets.com/assets/vtex/assets-builder/ceramicaitalia.xtrategik-tema-ceramicaitalia/3.0.116/ico/home/Button-Add___f75bc06f9396d16d76b17229e8dabe5b.svg);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
  }
  .summary__promotion{
  
  }
  .summary__price{
    width: 100%;
  }
  .summary__price :global(.vtex-flex-layout-0-x-flexRowContent--selling-price-shelf){
    padding: 0 16px;
    width: 100%;
    justify-content: space-between;
  }
  .summary__name{
  
  }
  .summary__QuickView{
    right: 0;
    top: 10px;
    left: auto;
    position: absolute;
  }
  .summary__Highlights{
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 1;
  }
  .items__total{
    color: #686868;
    font-family: "NeutraText";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .items__order{
    max-width: 230px;
    width: 100%;
  }
  .items__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .FilterLoading{
  
  }
  .filterTitleSeparator{
  
  }
  .filterList{
  
  }
  .itemInput{
    position: relative;
    cursor: pointer;
    background-color: #BFBFBF;
    color: #fff;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 12px;
    height: 12px;
    appearance: none;
    border: 2px solid #BFBFBF;
    border-radius: 3px;
    background-position: 0 -2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
  }
  .itemInput--checked {
      border: 1px solid #DA291C;
      background-color: #DA291C;
      color: #DA291C;
      background-position: 0 0;
  }
  .itemInput--disable {
          cursor: not-allowed;
  }
  .itemLabel{
    color: #686868;
    font-family: "NeutraText TF";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .itemLabel--disable{
      cursor: not-allowed;
  }
  .facetsItem{
    padding: 8px;
  }
  .ListFacetsContent{
    max-height: max-content;
    height: 100%;
    overflow: hidden;
    transition: max-height 0.25s ease;
    padding: 8px;
  }
  .ListFacetsContent--hidden{
    max-height: 0px;
    transition: max-height 0.25s ease;
  }
  .ListFacetsTitleSpan{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg);
    transition: transform 0.25s ease;
  }
  .ListFacetsTitleSpan--hidden{
    transform: rotate(180deg);
    transition: transform 0.25s ease;
  }
  .FacetsTitleSelectsSvg{
    color: #DA291C;
    position: absolute;
    z-index: -1;
  }
  .FacetsTitleSelects{
  
  }
  .FacetsTitleSelects{
    color: #FFF;
    position: relative;
    text-align: center;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 8px;
    letter-spacing: 1px;
    line-height: 0;
    z-index: 1;
  }
  .ListFacetsTitle{
    color: #212121;
    font-family: "NeutraText TF";
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    margin: 0;
    padding: 11px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid #ED1B24;
  }
  .ListFacets{
    list-style-type: none;
    margin: 0;
    padding: 0 16px;
  }
  
  .selectContentFilter{
    margin: auto 0;
    width: 100%;
    position: relative;
  }
  .selectBtnFilter{
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    -webkit-user-select: none;
    border: none;
    padding: 10px 16px;
    background-color: #fff;
    justify-content: space-between;
    height: 24px;
    border-radius: 8px;
    font-family: "NeutraText";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #686868;
  }
  .selectBtnFilter:disabled{
      fill: #686868;
  }
  .selectContentListFilter{
      background-color: #fff;
      position: absolute;
      display: block;
      width: 100%;
      inset: 0 auto auto 0;
      transform: translateY(26px);
      max-height: 0px;
      overflow-y: auto;
  }
  .selectListUlFilter{
      margin: 0;
      padding: 0;
      font-family: "NeutraText";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }
  .selectListLiFilter{
      text-decoration: none;
      list-style: none;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 7px 16px;
      cursor: pointer;
      margin: 2px 0;
      height: 48px;
      background-color: #fff;
  }
  .selectListLiFilter:hover{
    background-color: #e3e4e6;
  }
  .selectContentListFilter--show{
    max-height: 415px;
    z-index: 2;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,.2);
  }
  .selectContentListFilter::-webkit-scrollbar {
      -webkit-appearance: none;
  }
  
  .selectContentListFilter::-webkit-scrollbar-button {
      display: none;
  }
  
  .selectContentListFilter::-webkit-scrollbar {
      height: 4px;
      width: 6px;
  }
  
  .selectContentListFilter::-webkit-scrollbar-thumb {
      background-color: rgba(83, 82, 82, 0.44);
      border-radius: 20px;
      border: 1px solid rgba(68, 69, 71, 0.34);
  }
  
  .selectContentListFilter::-webkit-scrollbar-track {
      border-radius: 10px;
  }
  .Items__bottom{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .button__more{
    background: #fff;
    border: 1px solid #ED1B24;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 100px;
    display: flex;
    max-width: 249px;
    width: 100%;
    height: 48px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "NeutraText TF";
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
  }
  .button__more:hover{
    background: #DAD8D8;
    border: 1px solid #DAD8D8;
  }
  .content__type__select{
    width: 100%;
  }
  .content__buttonSelectEndMobile{
    display: flex;
    gap: 8px;
    width: 100%;
  }
  .button__selectDataMobile{
    display: flex;
    width: 100%;
    height: 32px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #686868;
    background-color: #BFBFBF;
    cursor: pointer;
    font-family: "Adobe Clean";
    font-size: 10px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
  }
  .filtersMobileBtn{
    background-color: #ED1B24;
    padding: 10px;
    color: #FFF;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "NeutraText TF";
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    cursor: pointer;
  }
  .filtersMobileContentModal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2060;
    display: none;
    width: 100%;
    padding-top: 30vh;
    background-color: #2121217c;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  .filtersMobileContentModal--show{
    display: block;
  }
  .filtersMobileModal{
    position: relative;
    width: auto;
    height: 100%;
    pointer-events: auto;
    background-color: #fff;
    max-height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    transition: all 1.25s ease;
    transform: translate(0,-50px);
  }
  .filtersMobileModal::-webkit-scrollbar {
      -webkit-appearance: none;
  }
  
  .filtersMobileModal::-webkit-scrollbar-button {
      display: none;
  }
  
  .filtersMobileModal::-webkit-scrollbar {
      height: 4px;
      width: 6px;
  }
  
  .filtersMobileModal::-webkit-scrollbar-thumb {
      background-color: rgba(83, 82, 82, 0.44);
      border-radius: 20px;
      border: 1px solid rgba(68, 69, 71, 0.34);
  }
  
  .filtersMobileModal::-webkit-scrollbar-track {
      border-radius: 10px;
  }
  
  .filtersMobileModal--show{
    transform: translate(0,0px);
    max-height: max-content;
    transition: all 1.25s ease;
  }
  .filtersModalHeader{
    background-color: #ED1B24;
    height: 48px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  .filtersModalHeaderClose{
    color: #fff;
    background-color: #ED1B24;
    border: none;
    margin: 0;
    padding: 5px;
    display: flex;
    cursor: pointer;
  }
  .filtersModalHeaderFilter{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .filterListMobile{
    overflow: auto;
  }
  .filtersMobileModal::-webkit-scrollbar {
      -webkit-appearance: none;
  }
  
  .filtersMobileModal::-webkit-scrollbar-button {
      display: none;
  }
  
  .filtersMobileModal::-webkit-scrollbar {
      height: 4px;
      width: 6px;
  }
  
  .filtersMobileModal::-webkit-scrollbar-thumb {
      background-color: rgba(83, 82, 82, 0.44);
      border-radius: 20px;
      border: 1px solid rgba(68, 69, 71, 0.34);
  }
  
  .filtersMobileModal::-webkit-scrollbar-track {
      border-radius: 10px;
  }
  .ListFacetsMobile{
    list-style-type: none;
    margin: 0;
    padding: 0 16px;
  }
  .ListFacetsTitleMobile{
    color: #686868;
    font-family: "NeutraText TF";
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    margin: 0;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .ListFacetsTitleMobile--hidden{
    display: none;
  }
  .ListFacetsContentMobile{
    max-height: max-content;
    height: 100%;
    overflow: hidden;
    transition: max-height 0.25s ease;
  }
  .ListFacetsContentMobile--hidden{
    max-height: 0px;
    transition: max-height 0.25s ease;
  }
  .ListFacetsTitleSpanMobile{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    transition: transform 0.25s ease;
  }
  .ListFacetsTitleSpanMobile--hidden{
    transform: rotate(0deg);
    transition: transform 0.25s ease;
  }
  .ListFacetsBottomMobile{
    position: sticky;
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 4px 0 24px 0;
    background-color: #fff;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
  }
  .ListFacetsBottomMobile--hidden{
    display: none;
  }
  .FacetsTitleSelectsSvgMobile{
    color: #DA291C;
    position: absolute;
    z-index: -1;
  }
  .FacetsTitleSelectsSvgTextMobile{
    color: #fff;
    padding: 0 4px;
    font-size: 14px;
  }
  @media (max-width:1024px) {
    .container{
      padding: 60px 0;
      width: auto;
    }
    .card{
      width: auto;
      border: none;
      padding: 35px 10px;
      box-shadow: none;
    }
    .content__button{
      width: 100%;
      justify-content: space-between;
    }
    .text__h4{
      font-size: 33px;
    }
    .text__p4{
      margin-top: 25px;
    }
    .content__buttonSelect{
      padding: 10px 0;
    }
    .content__buttonWithImgTwo{
      gap: 10px;
      grid-template-columns: repeat(auto-fill,minmax(170px,1fr));
    }
    .button__withImgTwo{
      width: 173px;
    }
    .button__withImgImgTwo{
      aspect-ratio: 157/119;
    }
    .card__end{
      width: auto;
      margin: 0 10px;
      padding: 8px;
    }
    .content__text{
      padding: 8px 40px;
    }
    .button__back{
      left: 16px;
      top: 16px;
    }
    .card__end{
      gap: 8px;
      border-radius: 12px;
    }
    .content__flagEnd{
      font-size: 14px;
      padding: 0 16px;
      margin: auto 32px;
      width: auto;
    }
    .content__Result{
      width: auto;
    }
    .grid__Items{
      grid-template-columns: repeat(auto-fill,minmax(164px,1fr));
    }
    .content__Items{
      width: 100%;
    }
    .items__order{
      max-width: 150px;
    }
    .selectBtnFilter{
      font-size: 16px;
    }
    .selectListUlFilter{
      font-size: 16px;
    }
    .summary__Highlights :global(.vtex-product-highlights-2-x-productHighlightWrapper){
      width: auto;
    }
    .items__header{
      background-color: #ED1B24;
      height: 48px;
    }
    .items__total{
      font-size: 12px;
      color: #FFF;
    }
    .selectBtnFilter{
      background-color: #ED1B24;
      color: #fff;
    }
  }